<!DOCTYPE html>
<html lang="hu">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HTML5 kamera teszt</title>
</head>
<body>
<p>Kattintson az alábbi gombra fotó készítéséhez/kiválasztásához. A kép nem kerül a szerveren tárolásra.</p>
<form action="" method="post"  enctype="multipart/form-data">
	<input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
	<input type="submit" value="Teszt">
</form>
</body>
</html>
